.sidebar
  .userInfo
    %p.userInfo__name
      = current_user.name
    %span.userInfo__icon.userInfo__icon_setting
      = link_to "/users/#{current_user.id}/edit" do
        %i.fa.fa-cog
    %span.userInfo__icon.userInfo__icon_makegroup
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o

  - current_user.groups.each do |belong_group|
    .groupList
      = link_to "/groups/#{belong_group.id}/messages", class: "groupList__link" do
        %p.groupList__link_name
          = belong_group.name
        %p.groupList__link_message
          - new_message = belong_group.messages.order('created_at DESC').first
          - if new_message
            - if new_message.body
              = new_message.body 
            - elsif new_message.image
              画像が投稿されています
          - else
            まだメッセージはありません。
