.main.main_hasnote
  = render "messages/sidebar"

  .contents
    .threadHead
      .threadHead__info
        %p.threadHead__info_title
          sample
        %p.threadHead__info_members
          Members: sato 310
      .threadHead__edit
        %a{"href":""}
          Edit
    .messages
      - @messages.each do |message|
        .message
          %p.message__head
            %span.message__head_name
              - if message.user
                = message.user[:name]
            %span.message__head_date
              -if message.created_at
                = message.created_at.strftime('%Y/%m/%d %H:%M')
          %p.message__body
            - if message.body
              = message.body
            - if message.image
              = message.image

    = form_for([@group, @message], html: { class: 'sendBox' }) do |f|
      = f.text_field :body , placeholder: "type a message", class: "sendBox__input"
      = f.label :image, class: "sendBox__image" do
        %i.fa.fa-picture-o
        = f.file_field :image, class: "sendBox__image-field"
      = f.submit "Send", class: "sendBox__btn"
