.main.main_hasnote
  = render "messages/sidebar"

  .contents
    .threadHead
      .threadHead__info
        %p.threadHead__info_title
          = @group.name
        %p.threadHead__info_members
          Members: 
          - @group.users.each do |user|
            %span= user.name
      .threadHead__edit
        = link_to "Edit", edit_group_path(@group.id)
    .messages
      = render partial: "message"

    = form_for([@group, @message], html: { class: 'sendBox' }, remote: true) do |f|
      = f.text_field :body , placeholder: "type a message", class: "sendBox__input"
      = f.label :image, class: "sendBox__image" do
        %i.fa.fa-picture-o
        = f.file_field :image, class: "sendBox__image-field"
      = f.submit "Send", class: "sendBox__btn"
