.main.main_hasnote
  = render "messages/sidebar"

  .contents
    .threadHead
      .threadHead__info
        %p.threadHead__info_title
          sample
        %p.threadHead__info_members
          Members: sato 310
      .threadHead__edit
        %a{"href":""}
          Edit
    .messages
      .message
        %p.message__head
          %span.message__head_name
            sato
          %span.message__head_date
            2017/07/01 03:10:00
        %p.message__body
          Hello World!!
      .message
        %p.message__head
          %span.message__head_name
            310
          %span.message__head_date
            2017/07/04 03:10:00
        %p.message__body
          Hi! World!!
      .message
        %p.message__head
          %span.message__head_name
            310
          %span.message__head_date
            2017/07/04 03:10:00
        %p.message__body
          Hi! World!!
      .message
        %p.message__head
          %span.message__head_name
            310
          %span.message__head_date
            2017/07/04 03:10:00
        %p.message__body
          Hi! World!!
      .message
        %p.message__head
          %span.message__head_name
            310
          %span.message__head_date
            2017/07/04 03:10:00
        %p.message__body
          Hi! World!!
      .message
        %p.message__head
          %span.message__head_name
            310
          %span.message__head_date
            2017/07/04 03:10:00
        %p.message__body
          Hi! World!!
      .message
        %p.message__head
          %span.message__head_name
            310
          %span.message__head_date
            2017/07/04 03:10:00
        %p.message__body
          Hi! World!!
      .message
        %p.message__head
          %span.message__head_name
            310
          %span.message__head_date
            2017/07/04 03:10:00
        %p.message__body
          Hi! World!!
      .message
        %p.message__head
          %span.message__head_name
            310
          %span.message__head_date
            2017/07/04 03:10:00
        %p.message__body
          Hi! World!!
      .message
        %p.message__head
          %span.message__head_name
            310
          %span.message__head_date
            2017/07/04 03:10:00
        %p.message__body
          Hi! World!!
      
    = form_for([@group, @message], html: {　class: 'sendBox'　}) do |f|
      = f.text_field :body , placeholder: "type a message", class: "sendBox__input"
      = f.label :image, class: "sendBox__image" do
        %i.fa.fa-picture-o
        = f.file_field :image, class: "sendBox__image-field"
      = f.submit "Send", class: "sendBox__btn"
