- if group.errors.any?
  .chat-group-form__errors
    %h2
      #{group.errors.count}件のエラーが発生しました。
    %ul
      - group.errors.full_messages.each do |message|
        %li #{message}

= form_for group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, "グループ名", class: "chat-group-form__label", for: "chat_group_name"
    .chat-group-form__field--right
      - if params[:action] == "edit"
        = f.text_field :name, placeholder: "グループ名を入力してください", id: "chat_group_name", class: "chat-group-form__input", value: group.name
      - else
        = f.text_field :name, placeholder: "グループ名を入力してください", id: "chat_group_name", class: "chat-group-form__input"

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label{:class => "chat-group-form__label", :for => "chat_group_チャットメンバーを追加"}<
        チャットメンバーを追加
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        %input{:type => "text", :placeholder => '追加したいユーザー名を入力してください', :id => "user-search-field", :class => 'chat-group-form__input'}
        #user-search-result

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :member, "チャットメンバー", class: "chat-group-form__label", for: "chat_group_member"
    .chat-group-form__field--right
      #chat-group-users
        .chat-group-user.clearfix#chat-group-user-@user.id
          = f.hidden_field :user_ids, value: "@user.id"
          .chat-group-user__name
            user_name

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit :commit , value: "Save", class: "chat-group-form__action-btn", data: { disable_with: "Save" }
